USE [SE1435_PRJ321_DUPIHE141231]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_Category]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_Category](
	[cateID] [int] NOT NULL,
	[cateName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_Category] PRIMARY KEY CLUSTERED 
(
	[cateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_InforUser]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_InforUser](
	[inforID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[phoneNumber] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_InforUser] PRIMARY KEY CLUSTERED 
(
	[inforID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_Order]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_Order](
	[orderID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[date] [date] NOT NULL,
	[totalPrice] [float] NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_OrderDetail]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_OrderDetail](
	[OrderDetailID] [int] NOT NULL,
	[orderID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_Product]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_Product](
	[productid] [int] NOT NULL,
	[name] [nvarchar](800) NULL,
	[image] [nvarchar](800) NULL,
	[price] [float] NULL,
	[cateID] [int] NULL,
	[detail] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_User]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_User](
	[UserID] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[authority] [int] NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141231_DUPI_Vouchers]    Script Date: 8/11/2021 12:54:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141231_DUPI_Vouchers](
	[CodeID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[ExistTime] [int] NULL,
	[discount] [int] NOT NULL,
 CONSTRAINT [PK_HE141231_DUPI_Vouchers] PRIMARY KEY CLUSTERED 
(
	[CodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HE141231_DUPI_Category] ([cateID], [cateName]) VALUES (1, N'MSI                 ')
INSERT [dbo].[HE141231_DUPI_Category] ([cateID], [cateName]) VALUES (2, N'DELL                ')
INSERT [dbo].[HE141231_DUPI_Category] ([cateID], [cateName]) VALUES (3, N'Asuss               ')
INSERT [dbo].[HE141231_DUPI_InforUser] ([inforID], [userID], [fullName], [address], [phoneNumber]) VALUES (1, 1, N'Pham Ich DU', N'BAC NINH', N'0369662341')
INSERT [dbo].[HE141231_DUPI_InforUser] ([inforID], [userID], [fullName], [address], [phoneNumber]) VALUES (5, 1, N'DUD', N'aaas', N'12341')
INSERT [dbo].[HE141231_DUPI_InforUser] ([inforID], [userID], [fullName], [address], [phoneNumber]) VALUES (6, 1, N'du', N'hanoi', N'123123123')
INSERT [dbo].[HE141231_DUPI_Order] ([orderID], [customerID], [date], [totalPrice]) VALUES (1, 1, CAST(N'2021-03-13' AS Date), 500)
INSERT [dbo].[HE141231_DUPI_Order] ([orderID], [customerID], [date], [totalPrice]) VALUES (2, 1, CAST(N'2021-10-13' AS Date), 1230)
INSERT [dbo].[HE141231_DUPI_Order] ([orderID], [customerID], [date], [totalPrice]) VALUES (3, 5, CAST(N'2021-10-21' AS Date), 1001)
INSERT [dbo].[HE141231_DUPI_OrderDetail] ([OrderDetailID], [orderID], [productID], [quantity]) VALUES (1, 1, 1, 5)
INSERT [dbo].[HE141231_DUPI_OrderDetail] ([OrderDetailID], [orderID], [productID], [quantity]) VALUES (2, 2, 1, 0)
INSERT [dbo].[HE141231_DUPI_OrderDetail] ([OrderDetailID], [orderID], [productID], [quantity]) VALUES (3, 2, 2, 0)
INSERT [dbo].[HE141231_DUPI_User] ([UserID], [UserName], [Password], [authority]) VALUES (1, N'DU', N'23', 1)
INSERT [dbo].[HE141231_DUPI_User] ([UserID], [UserName], [Password], [authority]) VALUES (2, N'admin                                                                                               ', N'admin               ', 1)
INSERT [dbo].[HE141231_DUPI_User] ([UserID], [UserName], [Password], [authority]) VALUES (3, N'CUS                                                                                                 ', N'cus                 ', 2)
INSERT [dbo].[HE141231_DUPI_Vouchers] ([CodeID], [UserID], [Code], [ExistTime], [discount]) VALUES (1, 1, N'AAA', 3, 30)
INSERT [dbo].[HE141231_DUPI_Vouchers] ([CodeID], [UserID], [Code], [ExistTime], [discount]) VALUES (2, 2, N'BBB', 5, 40)
INSERT [dbo].[HE141231_DUPI_Vouchers] ([CodeID], [UserID], [Code], [ExistTime], [discount]) VALUES (3, 1, N'CCC', 3, 11)
ALTER TABLE [dbo].[HE141231_DUPI_InforUser]  WITH CHECK ADD  CONSTRAINT [FK_HE141231_DUPI_InforUser_HE141231_DUPI_User] FOREIGN KEY([userID])
REFERENCES [dbo].[HE141231_DUPI_User] ([UserID])
GO
ALTER TABLE [dbo].[HE141231_DUPI_InforUser] CHECK CONSTRAINT [FK_HE141231_DUPI_InforUser_HE141231_DUPI_User]
GO
ALTER TABLE [dbo].[HE141231_DUPI_Order]  WITH CHECK ADD  CONSTRAINT [FK_HE141231_DUPI_Order_HE141231_DUPI_User] FOREIGN KEY([customerID])
REFERENCES [dbo].[HE141231_DUPI_User] ([UserID])
GO
ALTER TABLE [dbo].[HE141231_DUPI_Order] CHECK CONSTRAINT [FK_HE141231_DUPI_Order_HE141231_DUPI_User]
GO
ALTER TABLE [dbo].[HE141231_DUPI_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE141231_DUPI_OrderDetail_HE141231_DUPI_Order] FOREIGN KEY([orderID])
REFERENCES [dbo].[HE141231_DUPI_Order] ([orderID])
GO
ALTER TABLE [dbo].[HE141231_DUPI_OrderDetail] CHECK CONSTRAINT [FK_HE141231_DUPI_OrderDetail_HE141231_DUPI_Order]
GO
ALTER TABLE [dbo].[HE141231_DUPI_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE141231_DUPI_OrderDetail_HE141231_DUPI_Product] FOREIGN KEY([productID])
REFERENCES [dbo].[HE141231_DUPI_Product] ([productid])
GO
ALTER TABLE [dbo].[HE141231_DUPI_OrderDetail] CHECK CONSTRAINT [FK_HE141231_DUPI_OrderDetail_HE141231_DUPI_Product]
GO
ALTER TABLE [dbo].[HE141231_DUPI_Product]  WITH CHECK ADD FOREIGN KEY([cateID])
REFERENCES [dbo].[HE141231_DUPI_Category] ([cateID])
GO
ALTER TABLE [dbo].[HE141231_DUPI_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_HE141231_DUPI_Vouchers_HE141231_DUPI_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[HE141231_DUPI_User] ([UserID])
GO
ALTER TABLE [dbo].[HE141231_DUPI_Vouchers] CHECK CONSTRAINT [FK_HE141231_DUPI_Vouchers_HE141231_DUPI_User]
GO
