<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>control.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginRegister</servlet-name>
        <servlet-class>control.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>control.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>control.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>control.loginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>control.updateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductAdmin</servlet-name>
        <servlet-class>control.addProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutAdmin</servlet-name>
        <servlet-class>control.logoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>control.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>control.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>control.editUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>control.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>control.changePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDiscountControl</servlet-name>
        <servlet-class>control.getDiscountControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/loginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductAdmin</servlet-name>
        <url-pattern>/addProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutAdmin</servlet-name>
        <url-pattern>/logoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDiscountControl</servlet-name>
        <url-pattern>/getDiscountControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
